@import "base/variable";
@import "base/reset";

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#inner {
  width: 500px;
  height: 200px;
  border: 1px solid #2e2d2c;
  overflow: hidden;
}

#character {
  width: 20px;
  height: 50px;
  background: $red01;
  position: relative;
  top: 150px;
}

#game {
  height: 200px;
}

.animate {
  animation: jump 500ms;
}

@keyframes jump {
  0%{top:150px}
  30%{top:100px}
  70%{top:100px}
  100%{top:150px}
}

#block {
  width: 20px;
  height: 20px;
  background: $blue01;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1s infinite;
}

@keyframes block {
  0%{left:480px}
  100%{left:-40px}
}

#score {
  margin-top: 12px;
  text-align: center;
  font-size: 22px;
}